<div>
    <app-title title="Table"></app-title>
</div>
<div class="table-main-container">
    <div class="input-grid">
        <div >
            <div style="padding: 24px; gap:32px; display: flex;">
                <button mat-raised-button (click)="addColumn()"> Add column </button>
                <button mat-raised-button (click)="removeColumn()"> Remove column </button>
                <button mat-raised-button (click)="shuffle()"> Shuffle </button>
            </div>
            
        
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
        
        
                <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div *ngIf="column === 'select'">
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </div>
                        <div *ngIf="column !== 'select'">{{column}}</div>
                    </th>
        
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="column === 'select'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                            </mat-checkbox>
                        </div>
                        <div *ngIf="column !== 'select'">{{element[column]}}</div>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="nxt-table-row"></tr>
        
        
        
            </table>
            <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>


<!-- <div class="card-input-container ">
<div>Option -1</div>
<div >
    <div class="card-body">
        <h5 style="color:var(--edgentaNXTBlue1); font-size:1 rem">Options 1</h5>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Company (disabled)" disabled>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Username">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Email address" type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Fist Name" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Adress" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="City" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Country" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Test Label</mat-label>
                        <input matInput placeholder="Postal Code" type="text">
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<div>Option -2</div>
<div class="a-Va ">
    <form>
        <div class="row">
            <div class="form-group col-md-6 mb-md pl-0">
                <label for="">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="First Name....">
            </div>
            <div class="form-group col-md-6 pl-0">
                <label for="">Last Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name....">
            </div>
            <div class="form-group col-md-6 mb-md pl-0">
                <label for="">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email....">
            </div>
            <div class="form-group col-md-6 pl-0">
                <label for="">Phone</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="phone...">
            </div>
            <div class="form-group col-md-6 mb-md pl-0">
                <label for="">Credit Card Number</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Credit Number....">
            </div>
            <div class="form-group col-md-6 pl-0">
                <label for="">Website</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="website...">
            </div>
            <div class="form-group col-md-6 mb-md pl-0">
                <label for="">Birth Date</label>
                <input class="form-control" type="text" name="basic" id="ul-form-layoute-date">
            </div>
            <div class="form-group col-md-6 pl-0">
                <label for="">Website</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="website...">
            </div>
        </div>
    </form>
</div>

<div class="a-Va-Zb-Q"><label class="a-Va-Zb-ga" for=":5t.t" data-tooltip="Has the words"
        data-tooltip-only-on-overflow="true">Has the words</label>
    <div class="a-Va-Zb-M"><input type="text" id=":5t.t" class="g-Gh a-Va-Zb-vb a-Va-Zb-r-vb"
            placeholder="Enter words found in the file"></div>
</div>


<!-- <div class="modified-field">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Label</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
</div> -->

<!-- <div class="modified-field">
    <mat-form-field appearance="outline" floatLabel="always">
       <mat-label>Label</mat-label> 
        <input matInput placeholder="Placeholder">
        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
</div>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> 


</div> -->