<mat-sidenav-container [@.disabled]="false" autosize>

    <mat-sidenav #sidenav fixedInViewport="true" [mode]="mode" [opened]="openSidenav" class="mat-elevation-z8"
        (mouseover)="showExpand()" (mouseout)="hideExpand()" style="border-right: 1px solid #F2F2F7;">
        <div (click)='toggle()' class='toggleSidenav ' style="position:absolute" [ngClass]="{'showToggle': !showLabels}"
            (mouseover)="showExpand()" (mouseout)="hideExpand()">
            <div class="expand-icon">
                <img *ngIf="showLabels" src="../../assets/images/collapse.svg" />
            </div>

            <div *ngIf="(showExpandBtn)" class="expand-icon">
                <img *ngIf="(!showLabels && showExpandBtn)" src="../../assets/images/collapse_2.svg" />
            </div>


        </div>
        <div class="logo-container">
            <img *ngIf="showLabels" src="../../assets/images/asseto_logo.svg" />
            <img *ngIf="!showLabels" src="../../assets/images/asseto_half.svg" />
        </div>

        <div class="list-container">


            <!-- Final Workingsolution -->
            <mat-nav-list class="side-navnar">

                <ng-container *ngFor="let menu of menuList; index as i;">
                    <ng-container [ngTemplateOutlet]="(menu.children &&  showLabels )?  childMenu : parentMenu"
                        [ngTemplateOutletContext]="{menu:menu, index:i}">
                    </ng-container>
                </ng-container>
            </mat-nav-list>

            <ng-template #parentMenu let-menu="menu" let-index="index">
                <mat-list-item class="parent-menu-item" *ngIf="menu?.children?.length > 0"
                    [matMenuTriggerFor]="sidenavMenu" #sidenavMenuTrigger="matMenuTrigger"
                    [matMenuTriggerData]="{data: menu}" [routerLink]="menu.route" routerLinkActive="is-active"
                    [routerLinkActiveOptions]="{exact:
                                        true}" style="height: 40px ; padding-bottom:0px;"
                    (mouseover)="parentItemHover(true,index )" (mouseout)="parentItemHover(false, index)"
                    style="z-index:1050">
                    <div class="sidenav-img"><img src="assets/images/Icon-{{ menu?.iconName }}.svg" /></div>
                    <div class="sidelist-item" *ngIf="showLabels" class="half-list-parent">{{menu.displayName}}</div>
                </mat-list-item>

                <mat-list-item *ngIf="menu?.children?.length == 0" [routerLink]="menu.route"
                    routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                                        true}" style="height: 40px; padding-bottom:0px;" style="z-index:1050">
                    <div class="sidenav-img"><img src="assets/images/Icon-{{ menu?.iconName }}.svg" /></div>
                    <div class="sidelist-item" *ngIf="showLabels" class="half-list-parent">{{menu.displayName}}</div>
                </mat-list-item>
            </ng-template>

            <ng-template #childMenu let-menu="menu" let-index="index">
                <mat-expansion-panel [class.mat-elevation-z0]="true" hideToggle (click)="storeIndexFun(index)">
                    <mat-expansion-panel-header class="subMenu" [routerLink]="menu.route">
                        <div 
                            style="display: flex; flex-direction:row; justify-content:center">
                            <div class="sidenav-img"><img *ngIf="menu.iconName.length>0"
                                    src="assets/images/Icon-{{ menu?.iconName }}.svg" /></div>
                            <div class="sidelist-item" *ngIf="showLabels">{{menu.displayName}}</div>
                        </div>

                    </mat-expansion-panel-header>
                    <mat-nav-list [disableRipple]="true" class="childMenu"
                        *ngIf="showLabels && (index == currentIndex)">
                        <div [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
                            (click)="onItemSelected(submenu)">
                            <div *ngIf="submenu.iconName.length>0" class="sidenav-img"><img
                                    src="assets/images/Icon-{{ submenu?.iconName }}.svg" /></div>
                            <div class="sidelist-item" *ngIf="showLabels"
                                style="margin-left:24px; margin-bottom: 8px; color: #5960EB; cursor: pointer;">
                                {{submenu.displayName}}</div>
                        </div>
                    </mat-nav-list>
                </mat-expansion-panel>
            </ng-template>






            <div>
                <mat-nav-list>

                    <div class="footer-item">

                        <!-- <mat-list-item routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                                                    true}" style="height: 40px; padding-bottom:0px;"
                            style="z-index:1050">
                            <div class="sidenav-img"><img src="../../assets/images/Icon-Help-New.svg" /></div>
                            <div class="sidelist-item" *ngIf="showLabels">Knowledge Base </div>
                        </mat-list-item> -->


                    </div>


                    <div class="footer-container">
                        <div class="copyright-txt">©</div>
                        <div *ngIf="showLabels" class="copyright">2022 Edgenta NXT Sdn. Bhd.</div>
                    </div>


                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'sidenav-content': showLabels === false}" (scroll)="onWindowScroll($event)">


        <div class=" mat-elevation-z0">

           
            
                <router-outlet></router-outlet>
          


        </div>
        

    </mat-sidenav-content>
</mat-sidenav-container>


<mat-menu #sidenavMenu="matMenu" class="dynamic-menu-container" xPosition="before" yPosition="below" MenuPositionX = 'after'>

    <ng-template matMenuContent let-data="data" class="child-menu-container" >
        <!-- {{getData(data)}} -->
        <div style="padding:8px 12px;">
            <mat-list-item style="margin-bottom: 16px ;" [disableRipple]="true"
            class="childMenu child-mat-nav-list dynamic-menu-list" [routerLink]="submenu.routerLink"
            *ngFor="let submenu of data.children; let ind  = index " routerLinkActive="is-active"
            [routerLinkActiveOptions]="{exact:
            true}">
            <div *ngIf="submenu.iconName.length>0" class="sidenav-img"><img
                    src="assets/images/Icon-{{ submenu?.iconName }}.svg" /></div>
            <div class="sidelist-item sidelist-item-dynamic " style="margin-left: 0px; cursor: pointer; color: #5960EB;"
                [ngStyle]="{'margin-bottom': (data.children.length === ind+1) ? '0px' : '16px'}">
                {{submenu.displayName}} </div>
        </mat-list-item>
        </div>
       
    </ng-template>

</mat-menu>