<div>
    <app-title title="Input"></app-title>
</div>

<div class=" content input-main-container ">
    <div class="input-grid">
        <div style="margin: 0px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Text</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>

                </mat-form-field>


                <!-- <div class="modified-field" > -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

                <!-- <div class="modified-field" [style.fontSize.px]="14"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">

                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field"  required>
                    <mat-error>Field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="matform-full-width mat-focused" [style.fontSize.px]="14">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">

                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" disabled value="Disabled State">

                </mat-form-field>





                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Input with Icon</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field" required [formControl]="firstName">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="firstName.invalid">
                        Field is <strong>required</strong>
                      </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Disabled State" disabled>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <!-- </div>
    
    <div class="modified-field"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Dropdown</h1>
            </div>
            <div class="common-row">

               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select placeholder="Placeholder Text" >
                        <mat-option *ngFor="let food of foods"  value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select  [(ngModel)]="selectedObjectsFromArray">
                        <mat-option *ngFor="let food of foods"  [value]="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Select</mat-label>
                    <mat-select required>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Disabled Select</mat-label>
                    <mat-select disabled>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            
                
                 
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <!-- <mat-label>Select</mat-label> -->
                    <mat-select  placeholder="Placeholder Select">
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Checkboxes Select</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let food of foods" value="food.viewValue" >
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Checkboxes Select with count</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let food of foods" value="food.viewValue" >
                            <div style="display:flex; justify-content: space-between;">
                                <div>{{food.viewValue}}</div>
                                <div style="color:#5F68FF">180</div>
                        </div>
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
                    <mat-label>Select with Sections</mat-label>
                   <mat-select [formControl]="multipleControl">
                    <mat-optgroup *ngFor="let group of multipleGroup" [label]="group.name"
                    [disabled]="group.disabled">
                    <mat-option *ngFor="let asset of group.assets" [value]="asset.value">
                    {{asset.viewValue}}
                    </mat-option>
                    <mat-divider></mat-divider>
                   </mat-optgroup>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
                    <mat-label>Select with Sections and Count</mat-label>
                   <mat-select [formControl]="multipleControl">
                    <mat-optgroup *ngFor="let group of multipleGroup" [label]="group.name"
                    [disabled]="group.disabled">
                    <mat-option *ngFor="let asset of group.assets" [value]="asset.value">
                    <div style="display:flex; justify-content: space-between;">
                        <div>{{asset.viewValue}}</div>
                        <div style="color:#5F68FF">180</div>
                </div>
                    </mat-option>
                    <mat-divider></mat-divider>
                   </mat-optgroup>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Phone Number</h1>
            </div>
            <div class="common-row">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
               
                </mat-form-field>
            </div>
        </div> -->
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Date</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Placeholder Text">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker22" placeholder="Placeholder Text" [formControl]="date22">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                    <mat-datepicker #picker22></mat-datepicker>
                </mat-form-field> 

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Date</mat-label>
                    <input matInput [matDatepicker]="picker3" placeholder="Placeholder Text" required [formControl]="startDateRequired" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="startDateRequired.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Active Date</mat-label>
                    <input matInput [matDatepicker]="picker4" placeholder="Placeholder Text"  >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Disabled Date</mat-label>
                    <input matInput [matDatepicker]="picker5" placeholder="Placeholder Text" disabled >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Choose a Date</mat-label>
                    <input matInput [matDatepicker]="picker6" placeholder="Placeholder Text" [formControl]="date22" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Choose a Date</mat-label>
                    <input matInput [matDatepicker]="picker7" placeholder="Placeholder Text" [formControl]="date22" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Choose a Date</mat-label>
                    <input matInput [matDatepicker]="picker8" placeholder="Placeholder Text" [formControl]="date22" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <input matInput [matDatepicker]="picker9" placeholder="Placeholder Text"  >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                    <mat-datepicker #picker9></mat-datepicker>
                </mat-form-field>
                <!-- </div>
            <div class="modified-field"> -->


            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Timepicker</h1>
            </div>
            <div class="common-row">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Timepicker</mat-label>
                    <input matInput [matDatepicker]="timepicker" formControlName="startDate" />
                    <!-- <mat-icon matSuffix [for]="timepicker">access_time</mat-icon> -->
                    <mat-datepicker-toggle matSuffix [for]="timepicker">
                        <mat-icon  matDatepickerToggleIcon>access_time</mat-icon>
                    </mat-datepicker-toggle>
                    <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Timepicker</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_2" />
                    <mat-icon matSuffix [for]="timepicker_2">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_2></ngx-mat-timepicker>
                  </mat-form-field>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Currency</h1>
            </div>
            <div class="common-row">
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput  [formControl]="currencyInput"
                    currencyMask
                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput"
                    currencyMask
                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput2"
                    currencyMask
                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput3"
                    currencyMask
                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" required
                    >
                    <mat-error *ngIf="currencyInput3.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width mat-focused">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput2"
                    currencyMask
                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" >
                    <mat-error *ngIf="currencyInput3.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput4"
                currencyMask
                [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" disabled="true">
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" >
                <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" >
                <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>

                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" >
                <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" >
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <!-- <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Email Validation</h1>
            </div>
            <div class="common-row">
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        </div>
        <mat-divider></mat-divider> -->
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Checkbox</h1>
            </div>
            <div class="common-row">
                <div>
                    <div>Horizontal</div>
                    <div style="margin-top: 16px ; display: flex; gap:32px;">
                        <mat-checkbox color="primary" class="example-margin">Unchecked</mat-checkbox>
                        <mat-checkbox color="primary" checked="true" class="example-margin">Checked</mat-checkbox>
                        <mat-checkbox color="primary" disabled class="example-margin">Disabled</mat-checkbox>
                    </div>
                </div>
               <div>
                <div>Vertical</div>
                <div style="margin-top: 16px ; display: flex;gap:32px; flex-direction: column;">
                    <mat-checkbox color="primary" class="example-margin">Unchecked</mat-checkbox>
                    <mat-checkbox color="primary" checked="true" class="example-margin">Checked</mat-checkbox>
                    <mat-checkbox color="primary" disabled class="example-margin">Disabled</mat-checkbox>
                </div>
               </div>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Radiobox</h1>
            </div>
            <div class="common-row">
                <div>
                    <div>Horizontal</div>
                    <mat-radio-group style="margin-top: 16px ; display: flex; gap:32px;">
                        <mat-radio-button color="primary"  value="10">Check me</mat-radio-button>
                        <mat-radio-button color="primary" checked="true"  value="2">Checked</mat-radio-button>
                        <mat-radio-button color="primary" disabled  value="30">Disabled</mat-radio-button>
    
                        <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
                    </mat-radio-group>
                </div>
               <div>
                <div>Vertical</div>
                <mat-radio-group style="margin-top: 16px ; display: flex; gap:32px; flex-direction: column;">
                    <mat-radio-button color="primary"  value="1">Check me</mat-radio-button>
                    <mat-radio-button color="primary" checked="true"  value="2">Checked</mat-radio-button>
                    <mat-radio-button color="primary" disabled  value="3">Disabled</mat-radio-button>

                    <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
                </mat-radio-group>
               </div>
               
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Button Toggle</h1>
            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; font-size: 14px;">
                <div style="display:flex ; flex-direction:column; ">
                    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14"> -->
                        <mat-label style="margin-bottom: 16px;">Gender :</mat-label>
                        <mat-button-toggle-group color="primary" [style.fontSize.px]="14">
    
                            <mat-button-toggle value="bold">Male</mat-button-toggle>
                            <mat-button-toggle value="italic">Female</mat-button-toggle>
    
                        </mat-button-toggle-group>
                    <!-- </mat-form-field> -->
                   
                </div>

            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; ">
                <div style="display:flex ; align-items: center; ">
                    <mat-label style="margin-right: 16px;">Gender :</mat-label>
                    <mat-button-toggle-group color="primary">

                        <mat-button-toggle value="bold">Male</mat-button-toggle>
                        <mat-button-toggle value="italic">Female</mat-button-toggle>

                    </mat-button-toggle-group>
                </div>

            </div>

        </div>
        <mat-divider></mat-divider>

        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Textarea</h1>
            </div>
            <div class="common-row" style="margin-top: 16px ; display: flex; gap:32px; flex-wrap: wrap;">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Placeholder Text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Textarea" value="Input Text"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput disabled placeholder="Textarea" value="Input Text"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                    <mat-hint>please fill the details</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div style="margin: 64px 0px ;">
            <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" style="width:100% ;">
                <mat-label>Textarea</mat-label>
                <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                <mat-hint>please fill the details</mat-hint>
            </mat-form-field></div>
            <mat-divider></mat-divider>
            <div style="margin: 64px 0px;">
                
                <div style="margin-bottom: 32px;">
                    <h1>Slider</h1>
                </div>
                <div  class="common-row">
                    <div>
                        <div>Horizontal</div>
                        <div style="margin: 32px 0px ; display: flex; gap:32px;">
                            <mat-slide-toggle color="primary">Off</mat-slide-toggle>
                            <mat-slide-toggle color="primary" checked="true">On</mat-slide-toggle>
                            <mat-slide-toggle color="primary" disabled>Disabled</mat-slide-toggle>
                        </div>
                    </div>
                    <div>
                        <div>Vertical</div>
                <div style="margin: 32px 0px ; display: flex; gap:32px; flex-direction: column;">
                    <mat-slide-toggle color="primary">Off</mat-slide-toggle>
                    <mat-slide-toggle color="primary" checked="true">On</mat-slide-toggle>
                    <mat-slide-toggle color="primary" disabled>Disabled</mat-slide-toggle>
                </div>
                    </div>
                </div>
                
                
            </div>
            <mat-divider></mat-divider>
    </div>

    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Textarea</mat-label>
        <textarea matInput placeholder="Textarea" value="NXT Asseto"></textarea>
        <mat-hint>please fill the details</mat-hint>
    </mat-form-field> -->