<div>
    <app-title title="Input"></app-title>
</div>

<div class=" content input-main-container ">
    <div class="input-grid">
        <div style="margin: 0px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Text</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>

                </mat-form-field>


                <!-- <div class="modified-field" > -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

                <!-- <div class="modified-field" [style.fontSize.px]="14"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">

                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Mandatory Field" value=""  required>
                    <mat-error>Field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="matform-full-width mat-focused" [style.fontSize.px]="14">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">

                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" disabled value="Disabled State">

                </mat-form-field>





                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

                <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label  matTooltip="Info about the tooltip">Input Label</mat-label>
                    
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field> -->

                

            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Input with Icon</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field" required [formControl]="firstName">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="firstName.invalid">
                        Field is <strong>required</strong>
                      </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Disabled State" disabled>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <!-- </div>
    
    <div class="modified-field"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Dropdown</h1>
            </div>
            <div class="common-row">

               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select placeholder="Placeholder Text" >
                        <mat-option *ngFor="let food of foods"  value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select  [(ngModel)]="selectedObjectsFromArray">
                        <mat-option *ngFor="let food of foods"  [value]="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Select</mat-label>
                    <mat-select required>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Disabled Select</mat-label>
                    <mat-select disabled>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            
                
                 
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <!-- <mat-label>Select</mat-label> -->
                    <mat-select  placeholder="Placeholder Select">
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Checkboxes Select</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let food of foods" value="food.viewValue" >
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Checkboxes Select with count</mat-label>
                    <mat-select multiple [formControl]="checkboxMultipleCount" (onChange)="onCheckboxChange($event)">
                        <mat-select-trigger>
                            {{checkboxMultipleCount.value?.[0]?.viewValue || ''}}
                            <span *ngIf="(checkboxMultipleCount.value?.length || 0) > 1" class="example-additional-selection">
                                (+{{(checkboxMultipleCount.value?.length || 0) - 1}} {{checkboxMultipleCount.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                         </mat-select-trigger>
                        <mat-option *ngFor="let food of foods" [value]="food" >
                            <div style="display:flex; justify-content: space-between;">
                                <div>{{food.viewValue}}</div>
                                <div style="color:#5F68FF">{{food.count}}</div>
                        </div>
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
                    <mat-label>Select with Sections</mat-label>
                   <mat-select [formControl]="multipleControl">
                    <mat-optgroup *ngFor="let group of multipleGroup" [label]="group.name"
                    [disabled]="group.disabled">
                    <mat-option *ngFor="let asset of group.assets" [value]="asset.value">
                    {{asset.viewValue}}
                    </mat-option>
                    <mat-divider></mat-divider>
                   </mat-optgroup>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
                    <mat-label>Select with Sections and Count</mat-label>
                   <mat-select [formControl]="multipleControl" >
                    <mat-select-trigger>
                       {{multipleControl?.value?.viewValue}}
                        
                    </mat-select-trigger>
                    <mat-optgroup *ngFor="let group of multipleGroup" [label]="group.name"
                    [disabled]="group.disabled">
                    <mat-option *ngFor="let asset of group.assets" [value]="asset">
                    <div style="display:flex; justify-content: space-between;">
                        <div>{{asset.viewValue}}</div>
                        <div style="color:#5F68FF">{{asset.count}}</div>
                </div>
                    </mat-option>
                    <mat-divider></mat-divider>
                   </mat-optgroup>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Phone Number</h1>
            </div>
            <div class="common-row">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker">
               
                </mat-form-field>
            </div>
        </div> -->
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Date</h1>
            </div>
            <div class="common-row">

                <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Date</mat-label>
                    <input [formControl]="VisitorsCurrentDate" matInput [matDatepicker]="picker0" (dateInput)="setDateTiming($event.value)">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                    <mat-datepicker #picker0></mat-datepicker>
                </mat-form-field> -->

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" (keypress)="$event.preventDefault()">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Select Date" (keypress)="$event.preventDefault()">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker22" placeholder="Select Date" [formControl]="date22" (keypress)="$event.preventDefault()">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                    <mat-datepicker #picker22></mat-datepicker>
                </mat-form-field> 

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Date</mat-label>
                    <input matInput [matDatepicker]="picker3" placeholder="Select Date" required [formControl]="startDateRequired" (keypress)="$event.preventDefault()">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="startDateRequired.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Active Date</mat-label>
                    <input matInput [matDatepicker]="picker4" placeholder="Select Date" (keypress)="$event.preventDefault()" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Disabled Date</mat-label>
                    <input matInput [matDatepicker]="picker5" placeholder="Select Date" disabled (keypress)="$event.preventDefault()" >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker6" placeholder="Select Date" [formControl]="date22"  (keypress)="$event.preventDefault()">
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                    <mat-hint class="instruction-field">MM-DDD-YYYY</mat-hint>
                    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker7" placeholder="Select Date" [formControl]="date22" (keypress)="$event.preventDefault()" >
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                    <mat-hint class="warning-field">MM-DDD-YYYY</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker8" placeholder="Select Date" [formControl]="date22" (keypress)="$event.preventDefault()" >
                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                    <mat-hint class="success-field">MM-DDD-YYYY</mat-hint>

                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width ">
                    <input matInput [matDatepicker]="picker9" placeholder="Select Date" (keypress)="$event.preventDefault()"  >
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                    <mat-datepicker #picker9></mat-datepicker>
                </mat-form-field>
                <!-- </div>
            <div class="modified-field"> -->


            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Time</h1>
            </div>
            <div class="common-row">
            
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Time</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_2" [disableClick]="true" (keypress)="$event.preventDefault()" />
                    <mat-icon matSuffix (click)="timepicker_2.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker    #timepicker_2></ngx-mat-timepicker>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Time</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_3" placeholder="Select Time" [disableClick]="true" (keypress)="$event.preventDefault()"/>
                    <mat-icon matSuffix (click)="timepicker_3.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_3></ngx-mat-timepicker>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Time</mat-label>
                    <!-- <input matInput [ngxMatTimepicker]="timepicker_4"  [formControl]="defaultTime" />
                    <mat-icon matSuffix [for]="timepicker_4">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_4 [format]="24"
                    [defaultTime]="'6:00 am'"></ngx-mat-timepicker> -->

                    <input matInput   aria-label="default time" [ngxMatTimepicker]="defaultValuePicker" [disableClick]="true" [value]="'0:00 am'" (keypress)="$event.preventDefault()" />
                    <mat-icon matSuffix (click)="defaultValuePicker.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker   #defaultValuePicker></ngx-mat-timepicker>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Time</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_5" [disableClick]="true" [formControl]="defaultTimeMandatory" (keypress)="$event.preventDefault()" />
                    <mat-icon matSuffix (click)="timepicker_5.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_5></ngx-mat-timepicker>
                    <mat-error *ngIf="defaultTimeMandatory.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Active Time</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_6" [disableClick]="true" [formControl]="defaultTime" (keypress)="$event.preventDefault()" />
                    <mat-icon matSuffix (click)="timepicker_6.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_6></ngx-mat-timepicker>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Time</mat-label>
                    <input matInput [ngxMatTimepicker]="timepicker_16" [disableClick]="true" [formControl]="defaultTimeDisabled" (keypress)="$event.preventDefault()" />
                    <mat-icon matSuffix (click)="timepicker_16.open()" style="cursor:pointer">access_time</mat-icon>
                    <ngx-mat-timepicker #timepicker_16></ngx-mat-timepicker>
                    <mat-hint>HH:MM AM/PM</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Time</mat-label>
                        <input matInput [ngxMatTimepicker]="timepicker_12" [disableClick]="true"  [formControl]="defaultTime" (keypress)="$event.preventDefault()" />
                        <mat-icon matSuffix (click)="timepicker_12.open()" style="cursor:pointer">access_time</mat-icon>
                        <ngx-mat-timepicker #timepicker_12 ></ngx-mat-timepicker>
                        <mat-hint class="instruction-field">HH:MM AM/PM</mat-hint>
                      </mat-form-field>

                      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Time</mat-label>
                        <input matInput [ngxMatTimepicker]="timepicker_7" [disableClick]="true" [formControl]="defaultTime" (keypress)="$event.preventDefault()" />
                        <mat-icon matSuffix (click)="timepicker_7.open()" style="cursor:pointer">access_time</mat-icon>
                        <ngx-mat-timepicker #timepicker_7 [format]="24"
                        [defaultTime]="'6:00 am'"></ngx-mat-timepicker>
                        <mat-hint class="warning-field">HH:MM AM/PM</mat-hint>
                      </mat-form-field>
                      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Time</mat-label>
                        <input matInput [ngxMatTimepicker]="timepicker_8" [disableClick]="true" [formControl]="defaultTime" (keypress)="$event.preventDefault()" />
                        <mat-icon matSuffix (click)="timepicker_8.open()" style="cursor:pointer">access_time</mat-icon>
                        <ngx-mat-timepicker #timepicker_8 [format]="24"
                        [defaultTime]="'6:00 am'"></ngx-mat-timepicker>
                        <mat-hint class="success-field">HH:MM AM/PM</mat-hint>
                      </mat-form-field>
                      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <!-- <mat-label>Time</mat-label> -->
                        <input matInput [ngxMatTimepicker]="timepicker_9" [disableClick]="true" [formControl]="defaultTime" placeholder="Select Time" (keypress)="$event.preventDefault()"/>
                        <mat-icon matSuffix (click)="timepicker_9.open()" style="cursor:pointer">access_time</mat-icon>
                        <ngx-mat-timepicker #timepicker_9 [format]="24"
                        [defaultTime]="'6:00 am'"></ngx-mat-timepicker>
                        <mat-hint>HH:MM AM/PM</mat-hint>
                        <!-- <mat-hint class="success-field">Success Text</mat-hint> -->
                      </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Currency</h1>
            </div>
            <div class="common-row">
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput  [formControl]="currencyInput"
                    currencyMask
                    [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput"
                    currencyMask
                    [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput2"
                    currencyMask
                    [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }"
                    >
                  </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput3"
                    currencyMask
                    [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" required
                    >
                    <mat-error *ngIf="currencyInput3.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width mat-focused">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput2"
                    currencyMask
                    [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" >
                    <mat-error *ngIf="currencyInput3.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput4"
                currencyMask
                [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" disabled="true">
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" >
                <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" >
                <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>

                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <mat-label>Enter Amount</mat-label>
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" >
                <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                class="matform-full-width ">
                <input matInput placeholder="Placeholder Amount" [formControl]="currencyInput5"
                currencyMask
                [options]="{ prefix: 'MYR ', thousands: ',', decimal: '.' }" >
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <!-- <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Email Validation</h1>
            </div>
            <div class="common-row">
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        </div>
        <mat-divider></mat-divider> -->
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Checkbox</h1>
            </div>
            <div class="common-row">
                <div>
                    <div>Horizontal</div>
                    <div style="margin-top: 16px ; display: flex; gap:16px;">
                        <mat-checkbox color="primary" class="example-margin">Unchecked </mat-checkbox>
                        <mat-checkbox color="primary" checked="true" class="example-margin">Checked</mat-checkbox>
                        <mat-checkbox color="primary" disabled class="example-margin">Disabled</mat-checkbox>
                    </div>
                </div>
               <div>
                <div>Vertical</div>
                <div style="margin-top: 16px ; display: flex;gap:16px; flex-direction: column;">
                    <mat-checkbox color="primary" class="example-margin">Unchecked </mat-checkbox>
                    <mat-checkbox color="primary" checked="true" class="example-margin">Checked</mat-checkbox>
                    <mat-checkbox color="primary" disabled class="example-margin">Disabled</mat-checkbox>
                </div>
               </div>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Radiobox</h1>
            </div>
            <div class="common-row">
                <div>
                    <div>Horizontal</div>
                    <mat-radio-group style="margin-top: 16px ; display: flex; gap:16px;">
                        <mat-radio-button color="primary"  value="10">Unselected Unchecked</mat-radio-button>
                        <mat-radio-button color="primary" [checked]="true"  value="23">Selected</mat-radio-button>
                        <mat-radio-button color="primary" disabled  value="30">Disabled</mat-radio-button>
    
                        <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
                    </mat-radio-group>
                </div>
               <div>
                <div>Vertical</div>
                <mat-radio-group style="margin-top: 16px ; display: flex; gap:16px; flex-direction: column;">
                    <mat-radio-button color="primary"  value="1">Unselected</mat-radio-button>
                    <mat-radio-button color="primary" [checked]="true"  value="2">Selected</mat-radio-button>
                    <mat-radio-button color="primary" disabled  value="3">Disabled</mat-radio-button>

                    <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
                </mat-radio-group>
               </div>
               
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Button Toggle</h1>
            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; font-size: 14px;">
                <div style="display:flex ; flex-direction:column; ">
                    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14"> -->
                        <mat-label style="margin-bottom: 16px;">Label :</mat-label>
                        <mat-button-toggle-group color="primary" [style.fontSize.px]="14">
    
                            <mat-button-toggle value="bold">Option 1</mat-button-toggle>
                            <mat-button-toggle value="italic">Option 2</mat-button-toggle>
    
                        </mat-button-toggle-group>
                    <!-- </mat-form-field> -->
                   
                </div>

            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; ">
                <div style="display:flex ; align-items: center; ">
                    <mat-label style="margin-right: 16px;">Label :</mat-label>
                    <mat-button-toggle-group color="primary">

                        <mat-button-toggle value="bold">Option 1</mat-button-toggle>
                        <mat-button-toggle value="italic">Option 2</mat-button-toggle>

                    </mat-button-toggle-group>
                </div>

            </div>

        </div>
        <mat-divider></mat-divider>

        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Textarea</h1>
            </div>
            <div class="common-row " style="margin-top: 16px ; display: flex; gap:32px; flex-wrap: wrap;">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Label</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Label</mat-label>
                    <textarea matInput placeholder="Placeholder Text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Label</mat-label>
                    <textarea matInput placeholder="Placeholder Text" value="Input Text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Label</mat-label>
                    <textarea matInput placeholder="Mandatory Text" value="" required [formControl]="mandatoryTextarea"></textarea>
                    <mat-error *ngIf="mandatoryTextarea.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container mat-focused">
                    <mat-label>Input Label</mat-label>
                    <textarea matInput placeholder="Active Text" value=""></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input  Text</mat-label>
                    <textarea matInput disabled placeholder="Disabled Text" value=""></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Text</mat-label>
                    <textarea matInput placeholder="Placeholder Text" value="Input Text"></textarea>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Text</mat-label>
                    <textarea matInput placeholder="Placeholder Text" value="Input Text"></textarea>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Text</mat-label>
                    <textarea matInput placeholder="Placeholder Text" value="Input Text"></textarea>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <!-- <mat-label>Textarea</mat-label> -->
                    <textarea matInput placeholder="Placeholder Text" value=""></textarea>
                    <!-- <mat-hint class="success-field">Success Text</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Input Text</mat-label>
                    <textarea #message maxlength="256" matInput placeholder="Placeholder Text" value=""></textarea>
                    <!-- <mat-hint class="success-field">Success Text</mat-hint> -->
                    <mat-hint style="display:flex; justify-content:flex-end ;">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                    <mat-hint>please fill the details</mat-hint>
                </mat-form-field> -->
            </div>
        </div>
        <!-- <div style="margin: 64px 0px ;">
           
            <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container" >
                <mat-label>Textarea</mat-label>
                <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                <mat-hint>please fill the details</mat-hint>
            </mat-form-field>
            
            </div> -->
            <mat-divider></mat-divider>
            <div style="margin: 64px 0px;">
                
                <div style="margin-bottom: 32px;">
                    <h1>Slider</h1>
                </div>
                <div  class="common-row">
                    <div>
                        <div>Horizontal</div>
                        <div style="margin: 32px 0px ; display: flex; gap:32px;">
                            <mat-slide-toggle color="primary">Slide me!</mat-slide-toggle>
                            <mat-slide-toggle color="primary" checked="true">Slided</mat-slide-toggle>
                            <mat-slide-toggle color="primary" disabled>Disabled</mat-slide-toggle>
                        </div>
                    </div>
                    <div>
                        <div>Vertical</div>
                <div style="margin: 32px 0px ; display: flex; gap:32px; flex-direction: column;">
                    <mat-slide-toggle color="primary">Slide me!</mat-slide-toggle>
                    <mat-slide-toggle color="primary" checked="true">Slided</mat-slide-toggle>
                    <mat-slide-toggle color="primary" disabled>Disabled</mat-slide-toggle>
                </div>
                    </div>
                </div>
                
                
            </div>
            <!-- <mat-divider></mat-divider> -->
            <mat-divider></mat-divider>
            <div style="margin: 64px 0px;">
                
                <div style="margin-bottom: 32px;">
                    <h1>Add Photo</h1>
                </div>
                <div  class="common-row">
                
                        <!-- <div  id="avtarImg">
                            <label class="" for="fileInput">
                                <app-avatar [src]="_d.bypassSecurityTrustUrl(imgSrc)" 
                                    *ngIf="imgProfileSrc !== ''" type="round"></app-avatar>
                                <app-avatar   *ngIf="imgSrc == ''" type="round"></app-avatar>
                            </label>
                            <label class=""
                                *ngIf="imgSrc == ''">&nbsp;&nbsp;&nbsp;&nbsp; AddImage</label>
                            <label *ngIf="imgSrc !== ''" (click)="removeImage()"
                                class="remove">&nbsp;&nbsp;&nbsp;&nbsp; RemoveImage</label>
                            <input id="fileInput" #imageInput type='file' formControlName="profileImage"
                            (click)="imageInput.value='';" (change)="onSelectImage($event)" accept=".jpeg, .png, .jpg, .gif">

                        </div> -->

                        <div  id="avtarImg">
                            <label class="" for="fileInput">
                                <app-avatar [src]="_d.bypassSecurityTrustUrl(imgProfileSrc)" 
                                    *ngIf="imgProfileSrc !== ''"></app-avatar>
                                <app-avatar   *ngIf="imgProfileSrc == ''"></app-avatar>
                                
                            </label>
                            <label class="add-image"
                                *ngIf="imgProfileSrc == ''">&nbsp;&nbsp;&nbsp;&nbsp; Add Photo</label>
                            <label *ngIf="imgProfileSrc !== ''" (click)="removeProfileImage()"
                                class="remove">&nbsp;&nbsp;&nbsp;&nbsp; Remove Photo</label>
                            <input id="fileInput" #imageInput type='file' formControlName="profileImage"
                            (click)="imageInput.value='';" (change)="onSelectProfileImage($event)" accept=".jpeg, .png, .jpg, .gif">

                        </div>
                    </div>
                    
                
            </div>
            <mat-divider></mat-divider>
            <div style="margin: 64px 0px;"></div>
    </div>

    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Textarea</mat-label>
        <textarea matInput placeholder="Textarea" value="NXT Asseto"></textarea>
        <mat-hint>please fill the details</mat-hint>
    </mat-form-field> -->