<div>
    <app-title title="Input"></app-title>
</div>

<div class=" content input-main-container ">
    <div class="input-grid">
        <div style="margin: 0px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Text</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>

                </mat-form-field>


                <!-- <div class="modified-field" > -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

                <!-- <div class="modified-field" [style.fontSize.px]="14"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">

                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field"  required>
                    <mat-error>Field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="matform-full-width mat-focused" [style.fontSize.px]="14">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">

                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" disabled value="Disabled State">

                </mat-form-field>





                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">

                </mat-form-field>

            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Input with Icon</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field" required [formControl]="firstName">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="firstName.invalid">
                        Field is <strong>required</strong>
                      </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Active State">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Disabled State" disabled>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>


                


                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
                <!-- </div>
    
    <div class="modified-field"> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>



                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <input matInput placeholder="Placeholder Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Dropdown</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <!-- <mat-option *ngFor="let food of foods" value="food.viewValue" >
                        {{food.viewValue}}
                      </mat-option> -->
                    </mat-select>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select placeholder="Placeholder Text" >
                        <mat-option *ngFor="let food of foods"  value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select  [(ngModel)]="selectedObjectsFromArray">
                        <mat-option *ngFor="let food of foods"  [value]="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Select</mat-label>
                    <mat-select required>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width mat-focused">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Disabled Select</mat-label>
                    <mat-select disabled>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            
                
                 
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="instruction-field">Instruction Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="warning-field">Warning Text</mat-hint>
                </mat-form-field>
               
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="success-field">Success Text</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <!-- <mat-label>Select</mat-label> -->
                    <mat-select  placeholder="Placeholder Select">
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Date</h1>
            </div>
            <div class="common-row">

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM-DDD-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- </div>
            <div class="modified-field"> -->


            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Email Validation</h1>
            </div>
            <div class="common-row">
                <mat-form-field color="primary" appearance="outline" [style.fontSize.px]="14"
                    class="matform-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Checkbox</h1>
            </div>
            <div class="common-row">
                <div style="margin-top: 16px ; display: flex; gap:32px;">
                    <mat-checkbox color="primary" class="example-margin">Check me!</mat-checkbox>
                    <mat-checkbox color="primary" checked="true" class="example-margin">Check me!</mat-checkbox>
                    <mat-checkbox color="primary" disabled class="example-margin">Check me!</mat-checkbox>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Radiobox</h1>
            </div>
            <div class="common-row">
                <mat-radio-group style="margin-top: 16px ; display: flex; gap:32px;">
                    <mat-radio-button color="primary" checked="true" value="1">Option 1</mat-radio-button>
                    <mat-radio-button color="primary" disabled value="1">Option 2</mat-radio-button>
                    <mat-radio-button color="primary" value="2">Option 3</mat-radio-button>

                    <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
                </mat-radio-group>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Button Toggle</h1>
            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; font-size: 14px;">
                <div style="display:flex ; flex-direction:column; ">
                    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14"> -->
                        <mat-label style="margin-bottom: 16px;">Gender :</mat-label>
                        <mat-button-toggle-group color="primary" [style.fontSize.px]="14">
    
                            <mat-button-toggle value="bold">Male</mat-button-toggle>
                            <mat-button-toggle value="italic">Female</mat-button-toggle>
    
                        </mat-button-toggle-group>
                    <!-- </mat-form-field> -->
                   
                </div>

            </div>
            <div class="common-row" style="margin-top: 16px ; display:flex; gap:32px; ">
                <div style="display:flex ; align-items: center; ">
                    <mat-label style="margin-right: 16px;">Gender :</mat-label>
                    <mat-button-toggle-group color="primary">

                        <mat-button-toggle value="bold">Male</mat-button-toggle>
                        <mat-button-toggle value="italic">Female</mat-button-toggle>

                    </mat-button-toggle-group>
                </div>

            </div>

        </div>
        <mat-divider></mat-divider>

        <div style="margin: 64px 0px ;">
            <div style="margin-bottom: 32px;">
                <h1>Textarea</h1>
            </div>
            <div class="common-row" style="margin-top: 16px ; display: flex; gap:32px; flex-wrap: wrap;">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Placeholder Text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Textarea" value="Input Text"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput disabled placeholder="Textarea" value="Input Text"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                    <mat-hint>please fill the details</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div style="margin: 64px 0px ;">
            <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" style="width:100% ;">
                <mat-label>Textarea</mat-label>
                <textarea matInput placeholder="Textarea" rows="5" value="Input Text"></textarea>
                <mat-hint>please fill the details</mat-hint>
            </mat-form-field></div>
            <div style="margin: 64px 0px ;">
                <mat-slide-toggle>Slide me!</mat-slide-toggle>
            </div>
    </div>

    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Textarea</mat-label>
        <textarea matInput placeholder="Textarea" value="NXT Asseto"></textarea>
        <mat-hint>please fill the details</mat-hint>
    </mat-form-field> -->