<div class="parent-container">
    <div class="main-container">
        <div class="header">
            <div class="left-container">
                <img src="../../assets/images/webform-logo.svg" />
            </div>
            <div class="right-container">
               <div>
                <!-- <img src="../../assets/images/webform-notification.svg" />  -->
               </div>
                <div class="right-user-icon">
                    <!-- <img src="../../assets/images/webform-user.svg" />  -->
                </div>
                </div>
            </div>
            
        <div class="card-container">
            <!-- <p>Test</p>
            <div><img src="../../assets/images/webform-thankyou.svg" /></div> 
            <mat-form-field appearance="outline">
                <mat-label>NXT Input </mat-label>
                <input matInput placeholder="NXT placeholder" />
              </mat-form-field> -->
              <ng-content></ng-content>
        </div>
        
        
        <div class="webform-footer" >
            <p>© 2022 Edgenta NXT Sdn Bhd</p>
        </div>
        </div>
        
</div>
