<div class="input-main-container ">
    <div class="input-grid">
        <div style="margin: 0px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-button disabled>Button</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button with Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" ><mat-icon>fingerprint</mat-icon>Button</button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-button disabled>Button</button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button with Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" > Button <mat-icon style="padding-right:12px ;" >fingerprint</mat-icon></button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-button disabled>Button</button>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Only Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-icon-button style="border-radius:4px ;" color="primary" > <mat-icon>fingerprint</mat-icon></button>
          
                
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button class="mat-focused mat-mouse-focused"><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" disabled ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary" disabled><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button disabled><mat-icon>fingerprint</mat-icon></button>
            </div>
            <div class="common-row" style="margin-top: 64px;">

                <div></div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button <mat-icon>fingerprint</mat-icon></button>
          
                
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-stroked-button disabled>Button</button>
            </div>
        </div>
    </div>
<div><h1>User Card</h1></div>
    <div style="margin:64px; display: inline-flex;">
        <mat-card class="mat-elevation-z1">
            <mat-card-content>
                <div style="display:inline-flex; gap:16px; min-width: 300px ;">
                    <div style="border-radius:50px ;"><img src="../../assets/images/person.svg" /></div>
                    <div style="display:flex ; flex-direction:column">
                        <div class="card-name-title mrg-btm-4">Sunil Raj</div>
                        <div *ngIf="false" class="tooltip">Sunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil Raj</div>
                        
                        <div class="card-sub-title mrg-btm-4">Assistant Manager</div>
                        <div class="mobile-container">
                            <div class="card-logo-container"><img src="../../assets/images/card-mobile.svg" /></div>
                            <div class="card-logo-txt">+6012 3356 474</div>
                        </div>
                        <div class="mobile-container">
                            <div class="card-logo-container"><img src="../../assets/images/card-email.svg" /></div>
                            <div class="card-logo-txt">ariffin@edgenta.com</div>
                        </div>
                        <div class="mobile-container">
                            <div class="card-logo-container"><img src="../../assets/images/card-company.svg" /></div>
                            <div class="card-logo-txt">UEM Edgenta</div>
                        </div>
                        <div class="mobile-container card-footer-title">
                            Assigned on 18 Nov 2021
                        </div>
                        
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>