<div>
    <app-title title="Button"></app-title>
</div>

<div class="content input-main-container ">
    <div class="input-grid">
        <div style="margin: 0px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-button disabled>Button</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button with Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" ><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary"><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-button><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" ><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary"><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-button><mat-icon style="margin-right:8px ;"></mat-icon>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" ><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary"><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-button><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled ><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
              <button mat-button disabled><mat-icon style="margin-right:8px ;">fingerprint</mat-icon>Button</button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Button with Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-flat-button style="border-radius:4px ;" color="primary" > Button <mat-icon style="padding-right:12px ;" >fingerprint</mat-icon></button>
          
                
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-flat-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-flat-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-button disabled>Button</button>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin: 64px 0px 64px 0px  ;">
            <div style="margin-bottom: 32px;">
                <h1>Only Icon</h1>
            </div>
            <div class="common-row">

                <div>Button</div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-icon-button style="border-radius:4px ;" color="primary" > <mat-icon>fingerprint</mat-icon></button>
          
                
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button class="mat-focused mat-mouse-focused"><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary"><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button><mat-icon>fingerprint</mat-icon></button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-icon-button style="border-radius:4px ;" color="primary" disabled ><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button style="border-radius:100px ;" color="primary" disabled><mat-icon>fingerprint</mat-icon></button>
              <button mat-icon-button disabled><mat-icon>fingerprint</mat-icon></button>
            </div>
            <div class="common-row" style="margin-top: 64px;">

                <div></div>
                <div>Default</div>
                <div>Active</div>

                
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button <mat-icon>fingerprint</mat-icon></button>
          
                
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Hover</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Pressed</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary">Button</button>
              <button mat-stroked-button>Button</button>
              <div></div>
              <div></div>
              <div>Disabled</div>
              <button mat-stroked-button style="border-radius:4px ;" color="primary" disabled >Button</button>
              <button mat-stroked-button style="border-radius:100px ;" color="primary" disabled>Button</button>
              <button mat-stroked-button disabled>Button</button>
            </div>
        </div>
    </div>

</div>