<div>
    <app-title title="Layouts"></app-title>
</div>
<div class="layouts-main-container">
    <div class="layout-main" >
<div class="layout-grid">
    <div class="left-container">
        <mat-nav-list class="left-item-list" >
            <mat-nav-list-item [ngClass]="{'left-title-active':(scrollViewDevId == 'section1' || scrollViewDevId == '' )}" (click)="scroll('section1')" class="mat-nav-list-item-focus"> Section 1</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section2'}"  (click)="scroll('section2')"> Section 2</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section3'}"  (click)="scroll('section3')"> Section 3</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section4'}" (click)="scroll('section4')"> Section 4</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section5'}" (click)="scroll('section5')"> Section 5</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section6'}" (click)="scroll('section6')"> Section 6</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section7'}" (click)="scroll('section7')"> Section 7</mat-nav-list-item>
            <mat-nav-list-item [ngClass]="{'left-title-active':scrollViewDevId == 'section7'}" (click)="scroll('section8')"> Section 8</mat-nav-list-item>
        </mat-nav-list>
    </div>
    <mat-divider style="border: 0.5px solid #E7E7EC;"></mat-divider>
    <div class="right-container">
        <div class="section-container" id="section1">
            <div class="title-container">
                <div class="section-title">Section 1</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Mandatory Field" required [formControl]="firstName">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="firstName.invalid">
                        Field is required
                      </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width text-area-container" >
                    <mat-label>Input Text</mat-label>
                    <textarea #message maxlength="256" rows="5" matInput placeholder="Placeholder Text" value=""></textarea>
                    <!-- <mat-hint class="success-field">Success Text</mat-hint> -->
                    <mat-hint style="display:flex; justify-content:flex-end ;">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
    
    
            </div>
      </div>
        <mat-divider style=" color: #E7E7EC"></mat-divider>
    
        <div class="section-container" id="section2">
            <div class="title-container">
                <div class="section-title" #section2  >Section 2</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
    
            </div>
    
        </div>
    
        <mat-divider style=" color: #E7E7EC"></mat-divider>
    
        <div class="section-container" id="section3">
            <div class="title-container">
                <div class="section-title" #section3  >Section 3</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
    
                </mat-form-field>
    
    
            </div>
    
        </div>
        <mat-divider style=" color: #E7E7EC"></mat-divider>
        <div class="section-container" id="section4">
            <div class="title-container">
                <div class="section-title" #section4 >Section 4</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
                <div style="grid-template-columns: span 1 ; display: flex; flex-direction: column;">
                    <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Input Label</mat-label>
                        <input matInput placeholder="Placeholder Text" value="Input Text">
        
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Input Label</mat-label>
                        <input matInput placeholder="Placeholder Text" value="Input Text">
        
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                        <mat-label>Input Label</mat-label>
                        <input matInput placeholder="Placeholder Text" value="Input Text">
        
                    </mat-form-field>
                </div>
                <div style="grid-column: span 2 ;">
                <div class="img-container" >
                    <!-- <img src="../../assets/images/map.svg" /> -->
                </div>
            </div>
        </div>
        </div>
        <mat-divider style=" color: #E7E7EC"></mat-divider>
        <div class="section-container" id="section5">
            <div class="title-container">
                <div class="section-title" #section5 >Section 5</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Input Label</mat-label>
                    <input matInput placeholder="Placeholder Text" value="Input Text">
                 </mat-form-field>
                <div class="field-with-button-align">
                    <button mat-stroked-button style="border-radius:4px ;" color="primary" > Button <mat-icon  >search</mat-icon></button>
            
                </div>
              </div>
        </div>
        <mat-divider style=" color: #E7E7EC"></mat-divider>
        <div class="section-container" id="section6">
            <div class="title-container">
                <div class="section-title" #section6 >Section 6</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields card-grid" style="padding-left: 0px;">
                <mat-card class="mat-elevation-z0" style="border: 2px solid #5F68FF;border-radius: 8px; ">
                    <mat-card-content>
                        <div class="user-card-content">
                            <div style="border-radius:50px ;"><img src="../../assets/images/person.svg" /></div>
                           <div class="details-with-button">
                            <div style="overflow: hidden;">
                                <div class="card-name-title mrg-btm-4">User Name</div>
                                <div *ngIf="false" class="tooltip">Sunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil RajSunil Raj</div>
                                
                                <div class="card-sub-title mrg-btm-4">Title</div>
                                <div class="mobile-container">
                                    <div class="card-logo-container"><img src="../../assets/images/card-mobile.svg" /></div>
                                    <div class="card-logo-txt">+6012 3356 474</div>
                                </div>
                                <div class="mobile-container">
                                    <div class="card-logo-container"><img src="../../assets/images/card-email.svg" /></div>
                                    <div class="card-logo-txt">email@domain.com</div>
                                </div>
                                <div class="mobile-container">
                                    <div class="card-logo-container"><img src="../../assets/images/card-company.svg" /></div>
                                    <div class="card-logo-txt">Company Name</div>
                                </div>
                                <div class="mobile-container card-footer-title">
                                   <div class="card-logo-txt">Assigned on DD MMM YYYY</div>
                                </div>
                               
                            </div>
                            <div style="display:flex ; justify-content:flex-end; margin: -8px;">
                                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" >
                                    <span class="material-symbols-outlined" style="color: #AAAAAA; ">
                                        more_vert
                                        </span> 
                                </button>
                            </div>
                           </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            
            </div>

    
        <mat-divider style=" color: #E7E7EC"></mat-divider>
        <div class="section-container" id="section7">
            <div class="title-container">
                <div class="section-title" #section7 >Section 7</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Select</mat-label>
                    <mat-select required>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="field-with-button-align .button-right-icon">
                    <button mat-stroked-button style="border-radius:4px ;" color="primary" > Button <mat-icon  >search</mat-icon></button>
            
                </div>
              </div>
        </div>

        <mat-divider style=" color: #E7E7EC"></mat-divider>
        <div class="section-container" id="section8">
            <div class="title-container">
                <div class="section-title" #section7 >Section 8</div>
                <div style="cursor: pointer;" (click)="openInfoDialog()"> <img src="../../assets/images/Icon-Info.svg" /></div>
            </div>
            <div class="section-grid-fields">
    
                <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
                    <mat-label>Mandatory Select</mat-label>
                    <mat-select required>
                        <mat-option *ngFor="let food of foods" value="food.viewValue">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="field-with-button-align button-left-icon">
                    <button mat-stroked-button style="border-radius:4px ;" color="primary" ><mat-icon  >search</mat-icon>  Button </button>
            
                </div>
              </div>
        </div>
    </div>

</div>
<mat-divider></mat-divider>
<div class="submit-button-align">
    <button mat-stroked-button style="border-radius:4px ;" color="primary" > Cancel </button>
    <button mat-flat-button style="border-radius:4px ;" color="primary" style="margin-left:16px"> Save </button>

</div>
    </div>
   
</div>

<mat-menu #menu="matMenu" style="padding: 0px;" class="right-menu">
    <mat-menu-content >
      <div >
        <div >
          <button mat-menu-item>Edit</button>
         
        </div>
        <div> <button mat-menu-item>Delete</button></div>
      </div>
      
    </mat-menu-content>
    
  </mat-menu>