<!-- <div class="main-container">
    <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
        <div><img src="../../assets/images/settings-asseto.svg"/></div>
        <div class="card-content">
            <div class="card-title">Asseto Plan</div>
            <div class="card-subtitle">Manage plan, check consumption, manage payment and view billing.</div>
        </div>
    </div>
    <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
        <div><img src="../../assets/images/settings-asseto.svg"/></div>
        <div class="card-content">
            <div class="card-title">Asseto Plan</div>
            <div class="card-subtitle">Manage plan, check consumption, manage payment and view billing.</div>
        </div>
    </div>
    <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
        <div><img src="../../assets/images/settings-asseto.svg"/></div>
        <div class="card-content">
            <div class="card-title">Asseto Plan</div>
            <div class="card-subtitle">Manage plan, check consumption, manage payment and view billing.</div>
        </div>
    </div>
    <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
        <div><img src="../../assets/images/settings-asseto.svg"/></div>
        <div class="card-content">
            <div class="card-title">Asseto Plan</div>
            <div class="card-subtitle">Manage plan, check consumption, manage payment and view billing.</div>
        </div>
    </div>
</div> -->
<div>
    <app-title title="Settings"></app-title>
</div>
<div class="content">


    <div class="main-container settings ">
        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div style="width: 32px;height:32px"><img src="../../assets/images/settings-asseto.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Asseto Plan</div>
                        <div class="card-subtitle">Manage plan, check consumption, manage payment and view billing.
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/settings-account.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">My Account</div>
                        <div class="card-subtitle">Change your profile, account settings, and password.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- <mat-card class="mat-elevation-z0">
            
            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/settings-myorganisation.svg"/></div>
                    <div class="card-content">
                        <div class="card-title">My Organisation</div>
                        <div class="card-subtitle">Company information, time-zone, currency, language, site customisation and more.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card> -->

        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/settings-myorganisation.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">My Organisation</div>
                        <div class="card-subtitle">Location, building and asset filter.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>


        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/Icon-Filter.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Global Filter</div>
                        <div class="card-subtitle">Location, building and asset filter.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/Icon-Asset-New.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Asset</div>
                        <div class="card-subtitle">Setup category, model and manufacturer.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/Icon-Case-New.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Case</div>
                        <div class="card-subtitle">Case type, sub-type and SLA.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/Icon-Work-Order-New.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Work Order</div>
                        <div class="card-subtitle">Work order type, sub-type, category, SLA and task template.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z0">

            <mat-card-content>
                <div class="card" style="cursor:pointer ;" (click)="handleCardClick()">
                    <div class="img-container"><img src="../../assets/images/Icon-Agents-New.svg" /></div>
                    <div class="card-content">
                        <div class="card-title">Agent</div>
                        <div class="card-subtitle">Setup agent roles, skillset and profile.</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 

      
  
</div>