// Define the responsive layout breakpoints
$layout-breakpoint-xs: 600px;
$layout-breakpoint-sm: 960px;
$layout-breakpoint-md: 1280px;
$layout-breakpoint-lg: 1920px;

.mat-app-background {
  margin:0px !important;
}