@import '~@angular/material/theming';

@import "./palette";

// Plus imports for other components in your app.
// @import './froala-overrides/notepad-panel';
// @import './grid-overrides/grid';
// @import './grid-overrides/bulk-grid';
  // @import './material-overrides/checkbox';
  // @import './material-overrides/table';
  // @import './material-overrides/input';
  // @import './material-overrides/dialog';
  // @import './material-overrides/radio-button';
  // @import './material-overrides/tab';
  // @import './material-overrides/expansion_panel';
  // @import './material-overrides/menu';
  // @import './material-overrides/slide-toggle';
  // @import './material-overrides/sidenav';
// @import './ng5-silder-overrides/ng5-slider';
  // @import './material-overrides/snackbar';
  // @import "./picker";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nxt-palette: mat-palette($md-nxt);
$admin-palette: mat-palette($md-admin);

// The warn palette is optional (defaults to red).
$red-palette: mat-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$nxt-light-theme: mat-light-theme($orca-palette, $admin-palette, $red-palette);
$nxt-dark-theme: mat-dark-theme($orca-palette, $admin-palette, $red-palette);

// Overwriting material theme font globally
$nxt-typography: mat-typography-config($font-family: 'Roboto');
@include mat-core($nxt-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($inmoment-light-theme);

// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include angular-material-theme($inmoment-dark-theme);
}

// Include the theme styles for only specified components.
