<div>
    <app-title title="Keycloak"></app-title>
</div>
<div class="keycloak-main-container">
<div class="input-grid">
    <div class="img-container">
        <img src="../../assets/images/keycloak_login.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/keycloak_forgotPasswordV1.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/keycloak_updatePassword.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/tenant_loading_access_login.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/tenant_loading_login.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/tenant_loading_organisation_login.png">
    </div>
    <br>
    <div class="img-container">
        <img src="../../assets/images/tenant_loading_organisation_notfound.png">
    </div>
</div>
</div>