.main-container{
    display: flex;
}
.container-1, .container-2, .container-3 {
padding:5px 20px;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
//   ::ng-deep .mat-select-panel::-webkit-scrollbar {
//     -webkit-appearance: none;
// }

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
    width: 4px;
    background: rgba(0,0,0,.26);
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
    border-radius: 8px;
    // border: 2px solid rgb(233, 245, 233) !important; /* should match background, can't be transparent */
    background: rgba(0,0,0,.26);
}