@import '../variables';
.mat-flat-button, .mat-primary, .mat-raised-button.mat-primary {
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    gap: 8px;
}

::ng-deep .mat-raised-button.mat-primary, :hover {
    background-color: var(--edgentaNXTBlue2);
}

.mat-primary .mat-button-focus-overlay {
    background-color: var(--edgentaNXTBlack2);
  }

  .mat-accent .mat-button-focus-overlay {
    background-color: var(--edgentaNXTBlue2);
  }

  .mat-warn .mat-button-focus-overlay {
    background-color: var(--edgentaNXTBlue2);
  }

  .mat-button-disabled .mat-button-focus-overlay {
    background-color: transparent;
  }
//,.mat-fab.mat-accent
  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn  {
    color: var(--edgentaNXTWhite2) !important;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: white!important;
}

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  color: rgba(0, 0, 0, 0.26);
}