.mat-calendar-body-cell-content :hover{
    color:white
}

// .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//     background-color: red;
// }

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: var(--edgentaNXTBlue3)!important;
    color:white;
}
.mat-calendar-body-today {
color:white;
}
.mat-calendar-body-active {
    .mat-calendar-body-today {
        color: white;
        border-color: transparent;
    }
}
