@import '../_colors';

.error-snackbar-override.mat-snack-bar-container {
  background-color:white;
  border-left: $red-dark-15 0.375em solid;
}

.error-snackbar-override simple-snack-bar.mat-simple-snackbar {
  font-family: 'Roboto' !important;
  font-size: 14px;
  background-color: $primary-white;
  border: none;
  padding: none;
  color: $red-dark-15;
  .mat-button-wrapper {
    color: $primary-orca;
  }
}
