@import '../_colors';

.mat-table {
  width: calc(100% - 6em);
  border-radius: 0.5em;
  font-family: Montserrat;
}

.mat-header-row {
  th {
    background-color: $orca-primary;
    color: $white-primary;
    border: 1px solid rgba(#979797, 0.2);
    padding-left: 1em !important;
    padding-right: 1em !important;

    &:first-child {
      border-top-left-radius: 0.5em;
    }

    &:last-child {
      border-top-right-radius: 0.5em;
    }

    mat-select {
      .mat-select-trigger
      .mat-select-value {
          max-width: 100% !important;
          color: $white-primary !important;
          font-family: Montserrat !important;
          .mat-select-placeholder {
            color: $white-primary !important;
          }
      }
      .mat-select-arrow-wrapper .mat-select-arrow {
        color: $white-primary !important;
      }
    }

  }
}

.mat-row {
  td {
    border-left: 1px solid rgba(#979797, 0.2);
    border-right: 1px solid rgba(#979797, 0.2);
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  &:nth-child(even) {
    background-color: rgba(#f0f0f0, 0.4);
  }

  &:last-child {
    td {
      &:first-child {
        border-bottom-left-radius: 0.5em;
      }
      &:last-child {
        border-bottom-right-radius: 0.5em;
      }
    }
  }
}
.mat-sort-header-arrow{
  color: #ffffff !important;
}
